server_name: "matrix.chat-admin.burmalearn.site"
pid_file: /data/homeserver.pid
listeners:
  - port: 8008
    tls: false
    type: http
    x_forwarded: true
    resources:
      - names: [client, federation]
        compress: false
database:
  name: psycopg2
  args:
    user: chat-user
    password: P@ss3ord
    database: chat-db
    host: postgres
    port: 5432
log_config: "/data/log.config"
media_store_path: /data/media_store
registration_shared_secret: "uR;WaHUH#&kK0Un.e~aNcF5f;BcTS9cFR=XB=XVTGwj0t05zMq"
report_stats: false
macaroon_secret_key: "kmd=BkY6sCM#Pfxtdypt==J5&w+#T~qKI5fJU=7@,G#Gp;r7@n"
form_secret: "Lo=_Bc&Um;MDI@^#z:gO79QgxJ4u#PxqOBH3_PP=N=&9BtEPkJ"
signing_key_path: "/data/localhost.signing.key"
trusted_key_servers:
  - server_name: "matrix.org"
suppress_key_server_warning: true